

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/
 @import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
 @font-face {
     font-family: Solstice;
     src: url(../fonts/solstice.ttf);
  }


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
     scroll-padding-top: 82px;
}

body {
     color: #666666;
     background-color: rgb(0, 0, 0);
     font-size: 14px;
     font-family: Saira;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}
/*
ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: list-item;
}
*/
p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: rgb(0, 0, 0);
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 10%;
}


/*-- navigation--*/

.navigation.navbar {
     float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 12px;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     line-height: 20px;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover{
     color: #fdd430;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}

.titlepage {
     text-align: center;
     padding-bottom: 5%;
}

.titlepage h2 {
     font-family: Solstice;
     font-weight: bold;
     color: #ffffff;
     font-size: 2.5em;
     padding-bottom: 2%;
}

/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/


.header {
     background-color: #111111;
     width: 100%;
     padding: 20px 10px 20px 10px;
     transition: all 0.5s ease-in;
     position: fixed;
     top: 0;
     z-index: 1000;
     opacity: 0.9;
     box-shadow: 0 0 10px #ceebf4;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}

.logo img {
     max-width: 100px;
}

.banner_main {
     padding-top: 80px;
     background: #000000;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding-bottom: 90px;
}



.text-bg h1 {
     font-family: Solstice;
     font-weight: bold;
     color: white;
     text-shadow: 0 0 15px #3fd6ff;
     font-size: 40px;
     line-height: 70px;
     padding-bottom: 25px;
}

.text-bg h2 {
     color: #fdd430;
     font-size: 30px;
     line-height: 35px;
     font-weight: bold;
}

.text-bg p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 40px 0;
}

.text-bg a {
     font-size: 16px;
     background-color: #fff;
     color: #000;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
}

.text-bg a:hover {
     background-color: #000;
     color: #fff;
}

.text-img figure {
     max-width: 100%;
     max-width: 100%;
     margin-left: 10%;
     margin-right: 10%;
}

.text-img figure img {
     width: 100%;
     height: 100%;
}

.text-bg .titlepage {
     text-align: center;
     padding-bottom: 30px;
}

.text-bg .titlepage h2 {
     font-size: 45px;
     color: #fdd430;
     font-weight: bold;
     padding: 10px;
}


/** about section **/

.about{
     padding-top: 3%;
     font-family: Saira;
     color: #ffffff;
     padding-bottom: 3%;
}

.about .titlepage{
     padding-bottom: 2%;
}

.about-content {
     text-align: center;
     display: flex;
}


.about-content p {
     color: #ffffff;
     font-size: 17px;
     line-height: 28px;
     text-align: left;
     margin-right: 10%;
}

.about-img {
     display: flex;
}
.about-img img{
     margin: auto;
     width: 100%;
}

.about-content a {
     font-size: 16px;
     background-color: #000;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     text-transform: uppercase;
     font-weight: 400;
     margin-top: 10px;
}

.about-content a:hover {
     background-color: #0c0f38;
     color: #fff;
}

/** end about section **/




/** prizes section **/

.prizes{
     padding-top: 3%;
     font-family: Saira;
     color: #ffffff;
     padding-bottom: 3%;
     margin-bottom: 2%;
}

.prizes .prizes-img{
     text-align: center;
     padding-bottom: 5%;
}

.prizes img {
     width: 80%;
}
/*
.prizes .winner{
     text-align: center;
}
.prizes .first{
     background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.prizes .second{
     background-color: #00bfff;
}
.prizes .third{
     background-color: #00bfff;
}*/

/** end prizes section **/



/** tracks section **/

.tracks {
     padding-top: 3%;
     font-family: Saira;
     padding-bottom: 3%;
}


.tracks .titlepage p {
     color: #fff;
}


.tracks .tracks-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px;
     transition: ease-in all 0.5s;
     background: rgba(21, 21, 21, 0.7);
     backdrop-filter: blur( 20px );
     -webkit-backdrop-filter: blur( 20px );
     vertical-align: auto; 
     height: 90%;
}

.tracks .tracks-box .img-box{
     height: 40%;
     display: flex;
     align-items: center;
     margin-bottom: 10%;
}

.tracks .tracks-box .img-box img {
     margin: auto;
     overflow: hidden;
     max-height: 100%;
}


.tracks .tracks-box h3 {
     padding: 1% 0px 2% 0px;
     font-size: 1.8em;
     color: #fff;
     font-weight: bold;
}

.tracks .tracks-box p {
     font-size: 1.4em;
     color: #fff;
     padding-bottom: 10%;
}

.tracks .tracks-box:hover {
     background: #000000;
     box-shadow: 0 0 15px rgb(255, 255, 255);
     animation: pop 0.3s linear 1;
     transition: ease-in all 0.5s;
     cursor: pointer;
}
#energy:hover {
     box-shadow: 0 0 15px #fffb00;
}
#finance:hover {
     box-shadow: 0 0 15px #006EFF;
}
#healthcare:hover {
     box-shadow: 0 0 15px #FF0055;
}
#edtech:hover {
     box-shadow: 0 0 15px #CC00FF;
}
#ecommerce:hover {
     box-shadow: 0 0 15px #00FFC2;
}


@keyframes pop{
     50%  {transform: scale(1.2);}
}
   



/** end tracks section **/


/** why section 

.why {
     margin-top: 90px;
     background: #ffff;
     font-family: Saira;
}

.why .titlepage {
     text-align: center;
}

.why .titlepage h2 {
     padding-bottom: 20px;
}

.why .titlepage p {
     color: #090808;
}

.why .why-box h3 {
     padding: 20px 0px 20px 0px;
     font-size: 20px;
     line-height: 25px;
     color: #090808;
     display: block;
     font-weight: 500;
}

.why .why-box {
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 40px 20px 20px 20px;
     transition: ease-in all 0.5s;
     margin-bottom: 30px;
     box-shadow: #ddd 0px 0px 10px
}

.why .why-box p {
     font-size: 16px;
     line-height: 24px;
     color: #090808;
}

.why .why-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}

.bg {
     font-size: 16px;
     background-color: #090808;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 190px;
     display: flex;
     justify-content: center;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
}

.bg:hover {
     background: #8308eb;
     color: #fff;
}


 end why section **/



/** timeline **/

 .Timeline {
     padding-top: 3%;
     font-family: Saira;
     color: #ffffff;
     padding-bottom: 1%;
 }


 .timeline {
     color: #ffffff;
     position: relative;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     margin: 0px auto 1rem auto;
     overflow: hidden;
     min-width: 75%;
 }

 .timeline:after {
     content: "";
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -2px;
     border-right: 2px dashed #6ed3ffb6;
     height: 90%;
     display: block;
 }
 
 .timeline-row {
     min-width: 100%;
     padding-left: 50%;
     position: relative;
     margin-top: 10%;
     margin-bottom: 10%;
     text-align: center;
 }
 .timeline-row .timeline-time {
     font-weight: bold;
     text-shadow: 0 0 10px rgb(0, 174, 255);
     position: absolute;
     right: 50%;
     text-align: right;
     margin: 0 50px 0 50px;
     color: #ffffff;
     font-size: 1.8rem;
 }
 .timeline-row .timeline-time small {
     display: block;
     font-weight: bold;
     text-shadow: 0 0 10px rgb(0, 255, 55);
     color: #ffffff;
     font-size: 1.3rem;
 }
 .timeline-row .timeline-content {
     position: relative;
     padding: 20px 30px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     background: rgb(21, 21, 21);
     /*box-shadow: 0 0 5px rgb(0, 174, 255);*/
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }
 .timeline-row .timeline-content:after {
     overflow: hidden;
     content: "";
     position: absolute;
     top: 20px;
     height: 16px;
     width: 16px;
     background: rgb(21, 21, 21);
 }

 .timeline-row .timeline-content:before {
     content: "";
     position: absolute;
     top: 20px;
     right: -49px;
     width: 20px;
     height: 20px;
     -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
     border-radius: 100px;
     z-index: 10;
     background: #ecf6ff;
     box-shadow: 0 0 15px #00bfff;
 }
 .timeline-row .timeline-content h4 {
     padding: 2%;
     font-size: 25px;
     font-weight: bold;
     color: #ffffff;
     text-shadow: 0 0 5px #ff3030;
     margin: 0 0 0 0;
     overflow: hidden;
 }
 .timeline-row .timeline-content {
     margin-bottom: 5%;
 }

 .timeline-row:nth-child(even) .timeline-content {
     margin-left: 40px;
     text-align: left;
 }
 
 .timeline-row:nth-child(even) .timeline-content:after {
     left: -8px;
     right: initial;
     border-bottom: 0;
     border-left: 0;
     transform: rotate(-135deg);
 }
 
 .timeline-row:nth-child(even) .timeline-content:before {
     left: -52px;
     right: initial;
 }
 
 .timeline-row:nth-child(odd) {
     padding-left: 0%;
     padding-right: 50%;
 }
 
 .timeline-row:nth-child(odd) .timeline-time {
     right: auto;
     left: 50%;
     text-align: left;
     margin-right: 0;
     margin-left: 5%;
 }

 .timeline-row:nth-child(odd) .timeline-content {
     margin-right: 40px;
 }
 .timeline-row:nth-child(odd) .timeline-content:after {
     right: -8px;
     border-left: 0;
     border-bottom: 0;
     transform: rotate(45deg);
 }
 

/** Sponsors **/

.sponsors {
     padding-top: 3%;
     font-family: Saira;
     padding-bottom: 3%;
}

.sponsors .sponsor-box {
     background-color: transparent;
     transition: ease-in all 0.5s;
     padding: 5%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}

.sponsors .sponsor-box img{
     display: block;
     max-width: 100%;
     max-height: 100px;
     width: auto;
     height: auto;
     margin: auto;
}

.sponsors .sponsor-box:hover {
     transition: ease-in all 0.1s;
     transform: scale(1.1);
}


/* Reach Us */

.reach-us {
     padding-top: 3%;
     font-family: Saira;
     color: white;
     margin-bottom: 5%;
}


.reach-us h3{
     color:rgb(255, 213, 0);
     text-align: center;
     font-weight: bold;
     font-size: 30px;
}

.reach-us .map{
     display: flex;
}
.reach-us .contact{
     padding-top: 2%;
}

.reach-us .map iframe{
     margin: auto;
     max-width: 100%;
}

.contact{
     margin-bottom: 5%;
}
.reach-us p, a{
     margin: auto;
     font-size: 20px;
     color: white;
     text-align: center;
     margin: 5px 0 5px 0;
}

.reach-us .social-links{
     margin-top: 5%;
     text-align: center;
}

.reach-us .social-links a{
     padding: 5%;
     font-size: 40px;
}
     


.footer{
     font-size: 1.5em;
     color: white;
}

.copyright{
     text-align: center;
}

/** footer 

.footer {
     background-color: #111111;
     margin-top: 10%;
     padding: 2% 0 2% 0;
     font-family: Saira;
     color: white;
     z-index: 100;
}

.footer .da {
     text-align: center;
     padding-bottom: 3%;
}

end footer **/



/** timer **/

#timer {
     font-size: 50px;
     font-weight: bold;
     color: rgb(255, 255, 255);
     text-shadow: 0 0 15px #ff5555;
     margin-left: -15px;
     align-self: center;
 }
 
 #timer div {
     text-align: center;
     display: inline-block;
     min-width: 90px;
 }
 
 #timer div span {
     margin-top: -10%;
     color: #f1b1b1;
     display: block;
     font-size: .35em;
     font-weight: bold;
 }


/** end timer **/

.sp-track-box{
     text-align: center;
     background-color: transparent;
     border-radius: 20px;
     padding: 5%;
     margin-bottom: 2%;
     transition: ease-in all 0.5s;
     background: rgba(21, 21, 21, 0.7);
     backdrop-filter: blur( 20px );
     -webkit-backdrop-filter: blur( 20px );
     vertical-align: auto; 
     align-items: center;
     display: flex;
}


.sp-track-box:hover {
     background: #000000;
     box-shadow: 0 0 15px rgb(255, 255, 255);
     animation: pop 0.3s linear 1;
     transition: ease-in all 0.5s;
     cursor: pointer;
}

.sp-track-box img{
     width: 20%;
}

#daiict, #wie{
     height: 90%;
     margin-bottom: 5%;
}

#daiict img, #wie img{
     width: 30%;
}

#daiict .sp-track-content, #wie .sp-track-content{
     align-self:  baseline;
     padding-left: 5%;
     padding-right: 5%;
     text-align: left;
     font-size: 1.1em;
}

.sp-track-box h3{
     text-align: center;
     padding: 1% 0 2% 0;
     font-size: 1.8em;
     color: #fff;
     font-weight: bold;
     text-shadow: 0 0 5px rgb(0, 255, 145);
}

.sp-track-content{
     padding-left: 5%;
     padding-right: 5%;
     text-align: left;
     font-size: 1.1em;
}


#daiict:hover, #filecoin:hover{
     box-shadow: 0 0 15px rgb(0, 140, 233);
}
#polygon:hover, #wie:hover, #solana:hover{
     box-shadow: 0 0 15px rgb(210, 0, 218);
}